@import '../../style/colors';

.header {
  background-color: $black;
  color: $white;
  display: block;
  padding: 1em;
  text-align: center;
}

.main {
  background-color: $white;
  border-radius: 3px;
  border: 1px solid $lightgrey;
  display: block;
  margin: 80px auto;
  max-width: 90%;
  padding: 2em;
  width: 500px;
}

.footer {
  padding-bottom: 2em;
  text-align: center;
}
