@import '../../style/colors';

.card {
  position: relative;
  overflow: hidden;

  &Image {
    img {
      border: 10px solid $lightcoral;
      display: block;
      width: 100%;
    }
  }

  &Info {
    background: $semiblack;
    bottom: 1em;
    color: $white;
    font-size: 1.3em;
    max-height: calc(60% - 2em);
    max-width: calc(100% - 2.6em);
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 2px 8px;
    position: absolute;
    right: 1.3em;
  }
}
