@import '../../style/colors';

.card {
  position: relative;

  &Image {
    img {
      border: 10px solid $lightcoral;
      display: block;
      max-width: 100%;
    }
  }

  &Info {
    background: $semiblack;
    bottom: 1em;
    color: $white;
    position: absolute;
    right: 2em;
  }
}
