@import '../../style/colors';

.unsplash {
  width: 100%;

  img {
    display: block;
    max-height: 300px;
    max-width: 100%;
  }

  nav {
    min-height: 2.5em;
    text-align: center;

    button {
      margin: 0 0.5em;
    }
  }

  &Container {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
  }

  &Reject {
    background-color: $brown;
  }
}
